<p class="my-paragraph">Lista de productos</p>

<table>
    <thead>
        <th>Nommbre</th>
        <th>Costo</th>
        <th>Imagen</th>
        <th>Tools</th>
    </thead>
    <tbody>
        <tr *ngFor="let prod of farmacia">
            <td>{{ prod.producto }}</td>
            <td>S/. {{ prod.costo }}</td>
            <td><img src="{{ prod.foto }}" alt="" width="100"></td>
            <td>
                <button class="bg-red-500 tex-white px-4 py-2 rounded-full" (click)="onClickDelete(prod)">Elilminar</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="rounded-lg bg-slate-300 px-5 py-2 hover:bg-slate-600 hover:text-white my-6" (click)="productos()">Añadir más productos</button>


